.member {
	width: 100%;
	border-radius: 50%;
	padding: 10px;
}
.members {
	background-color: $color-rgba;
	box-shadow:0 5px 10px $color-shadow;
	border-radius: 10px;
	margin: 0;
	padding: 0;
	margin-top: 30px;
	margin-bottom: 10px;
}